<div class="body">
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form [formGroup]="RegistrationForm" (ngSubmit)="OnRegister()" >
                <h1>Create Account</h1>
                <div class="social-container">
                    <a (click)="loginWithFacebook()" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a (click)="OnGoogleLogin()"  class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a (click)="loginTwitter()" class="social"><i class="fab fa-twitter"></i></a>
                </div>
                <span>or use your email for registration</span>
                <!-- <input type="text" placeholder="Name" formControlName="username" />
                <p *ngIf="!RegistrationForm.controls['username'].valid && RegistrationForm.controls['username'].touched" class="err">
                <b>Username is required</b></p> -->

                <mat-form-field class="example-full-width" appearance="fill" style="width: 100%;margin: 0px; padding: 0px">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" formControlName="username"/>
                </mat-form-field>
                <!-- <input type="email" placeholder="Email" formControlName="email" />
                <p *ngIf="!RegistrationForm.controls['email'].valid && RegistrationForm.controls['email'].touched" class="err">
                    <b>Email is Invalid</b></p>
                     -->
                    <mat-form-field class="example-full-width" appearance="fill" style="width: 100%">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email"/>
                    </mat-form-field>
                


                <!-- <input type="password" placeholder="Password" formControlName="password" />
                <p *ngIf="!RegistrationForm.controls['password'].valid && RegistrationForm.controls['password'].touched" class="err">
                  <b>Username is required</b>
                </p> -->
                
                <mat-form-field class="example-full-width" appearance="fill" style="width: 100%">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password"/>
                </mat-form-field>
                              
                
                <button type="submit" [hidden]="!RegistrationForm.valid">Sign Up</button>
                <p [hidden]="RegistrationForm.valid">Fill all above details</p>
                <!-- <button type="submit" >Sign Up</button> -->
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form [formGroup]="LoginForm" (ngSubmit)="onLoginbtn()">
                <h1>Sign in</h1>
                <div class="social-container">
                    <a (click)="loginWithFacebook()" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a (click)="OnGoogleLogin()" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a (click)="loginTwitter()" class="social"><i class="fab fa-twitter"></i></a>
                </div>
                
                <span>or use your account</span>
                <!-- <input type="email" placeholder="Email" formControlName="email" />
                <p *ngIf="!LoginForm.controls['email'].valid && LoginForm.controls['email'].touched" class="err">
                    <b>Email is Invalid</b></p> -->

                    <mat-form-field class="example-full-width" appearance="fill" style="width: 100%">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email"/>
                    </mat-form-field>    

                <!-- <input type="password" placeholder="Password" formControlName="password" />
                <p *ngIf="!LoginForm.controls['password'].valid && LoginForm.controls['password'].touched" class="err">
                    <b>Password is required</b>
                  </p> -->
                  <mat-form-field class="example-full-width" appearance="fill" style="width: 100%">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password"/>
                </mat-form-field>

                <!-- <a href="#">Forgot your password?</a> -->
                <button type="submit" [hidden]="!LoginForm.valid" >Sign In</button>
                
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn" (click)="signInButton()">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp" (click)="signUpButton()">Sign Up</button>
                </div>
            </div>
        </div>
    </div> 
</div>
  